{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<ul>
		{% if user.is_authenticated %}
		<li> hello <a href="/myapp/profile/{{user.username}}">{{ user.username }}!</a></li>
		<a href="/myapp/logout/">Logout</a><br />
		{% else %}
		<li><a href="/myapp/login/">Login</a></li>
		<li><a href="/myapp/register/">regist</a></li>
		{% endif %}
		
	</ul>
</body>
</html>

