{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>

    <body>

        <div class="container">
            <h1>Login</h1>
    		If you have not created an account yet, then please <a href="/myapp/register/">sign up </a> first.
            <form id="login_form" method="post" action="/myapp/login/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />

                <input type="submit" value="Login" />
            </form>
        </div>
    </body>
</html>