{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
         <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    </head>

    <body>
        <h1>Register</h1>
       Already have an account? Then please <a href="/myapp/login/">sign in.</a>

        <form id="user_form" class="form-inline" method="post" action="/myapp/register/"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
      
    </body>
</html>